{% set active_page = "/add/" %}

{%extends "base.html" %}
{% block content %}
<h1 class="title">Dodawanie</h1>
<h2 class="subtitle">
    <p class="is-large">Aby dodać nowe obrazki, możesz przeszukać bazy stworzone
        już przez innych użytkowników, bądź dodać je z komputera. Do podglądu obrazki mają zmiejszoną jakość</p>
    {% if files|length == 0 %}

    <form id="upload-file" method="post" enctype="multipart/form-data">
        <p id="attachments_button" class="has-text-centered">
            <label class="button">

                <input id="attachments" type="file" name="files[]" accept="image/*" class="inputfile"  data-multiple-caption="{count} obrazki wybrane" multiple />
                <span id="desc">Wybierz z dysku</span>

            </label>
        </p>
    </form>
    {% endif %}
</h2>


<div class="tile is-ancestor">
  <div class="tile is-vertical is-parent">
    <div class="tile is-child">
        <p class="title">Dodaj wszędzie tagi:</p>
        <div class="field">
            <p class="control">
                <input class="input is-info" type="text" id="tags_all_input" placeholder="smutek, zal, zlosc">
            </p>
        </div>
    </div>
    <div class="tile is-child has-text-centered">
      <a class="button is-primary" id="tags_all">Dodaj globalne tagi</a>
    </div>
  </div>
  <div class="tile is-4 is-vertical is-parent">

    <div class="tile is-child has-text-centered">
      <a class="button is-warning" id="save_all">Dodaj wszystkie obrazki</a>
    </div>

    <div class="tile is-child  has-text-centered">
        <a class="button is-danger" id="delete_all">Usuń wszystkie obrazki</a>
    </div>
  </div>
</div>


<div class="hide" id="edit_menu_local">
    <div class="columns">
        <div class="column is-one-quarter"></div>
        <div class="column has-text-centered">
            <p>
                Pamiętaj, że możesz przypisać wszystkim zaznaczonym obrazom wspólny tag klikająć zakładkę <strong>Zaznaczone!</strong>.
            </p>
        </div>
        <div class="column is-one-quarter"></div>
    </div>
</div>
{% endblock %}}